<Layout::Section::Header @title="Transactions">
    <:actions>
        <div class="flex flex-row items-center space-x-1 pr-4">
            <Layout::Resource::TabularActions
                @columns={{this.childController.columns}}
                @actionButtons={{this.childController.actionButtons}}
                @searchQuery={{this.childController.query}}
                @onSearch={{perform this.childController.search}}
                @table={{this.childController.table}}
                @controller={{this.childController}}
            />
        </div>
    </:actions>
</Layout::Section::Header>
{{outlet}}
